body {
	margin-left:auto;
    margin-right:auto;
    max-width: 1000px;
    background: #F7F7F7;
    padding: 25px 15px 25px 10px;
    font: 14px Georgia, "Times New Roman", Times, serif;
    color: #888;
    text-shadow: 1px 1px 1px #FFF;
    border:1px solid #E4E4E4;
}

input {
	margin-top: 15px;
	display: block;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

input[type = "text"] {
	height: 25px;
	width: 200px;


}

input[type = "button"] {
	background: #E27575;
	height: 25px;
	width: 150px;
	border: none;
	color: #FFF;
	box-shadow: 1px 1px 5px #B6B6B6;
	border-radius: 3px;
	cursor: pointer;
	
}

input[type = "button"]:hover {
	background: #CF7A7A;
}

#options {
	border: 1px solid #DADADA;
	margin-top: 15px;
	appearance: none;
	width: 30%;
	height: 40px;
	line-height: 20px;
	outline: 0 none;
	box-shadow: inset 0px 1px 2px #ECECEC;
	font-size: 16px;
	margin-left: 350px;
}

#tablediv {
	margin-left: 150px;
	margin-top: 10px;
}

td, th {
  width: 6rem;
  height: 2rem;
  border: 1px solid #ccc;
  text-align: center;
}

th {
  background: lightblue;
  border-color: white;
}


h3 {
	text-shadow: 1px 1px 1px #FFF;
	text-align: center;
	font-size: 25px;
	color: #888;
	display: block;
	border-bottom: 1px solid #E4E4E4;

}

#nicee {
	height: 50px;
	width: 100%; 
}

.table-entry ul li{
	list-style-type: none;
}