body {
	background-color: lime; 
	box-shadow: 0px -2px 2px;
	border: 1px solid aqua;
}

input {
	margin-top: 10px;
	display: block;
    box-sizing: border-box;
}

#options {
	margin-top: 10px;
}

#other_info {

}

h3 {
	/*text-shadow: 1px 1px 1px #ccc;*/
	text-align: center;
	font-family: Helvetica;
}

#nicee {
	height: 50px;
	width: 100%; 
	
}