@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

*{
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
}

html, body {
	min-height: 100%;
	margin: 0;
}

body {
	background: #F7F7F7;
	max-width: 800px;
	margin-left:auto;
    margin-right:auto;
    border: 2px solid #000080;
    color: #000080;
}

@media (max-width: 600px){	
	/* Need to make everything !imporant because of specificity issues*/
	body{
		font-size: 12px !important
	}

	input[type="text"] {
		width: 50% !important;
	}

	.form_text {
		display: block !important;
	}

	label{
		float:left !important;
		margin-right: 5px !important;
	}

	#plus{
		margin-right: 30px !important;
		padding-bottom: 10px !important;
	}

	#arrows_sections {
		display: inline-block !important;
		margin-top: 20px !important;
		margin-right: 20px !important;
	}

}


h1{
	margin-top: 2%; 
	text-align: center;
	border-bottom: 2px solid #000080;
	font-size: 24px;
}

input[type="submit"]:hover{
  background:#2288bb;
}

input[type="text"] {
	background:#fff ;
	border:1px solid #ccc;
	color:#555;
	margin-left: auto;
	margin-right: auto;
}

.form_text {
	display: inline-block;
	width: 250px;
	margin-top: 10px;
	margin-right: auto;
	margin-left: auto;
}

#instructions{
	text-align: left;
	margin: 1% 20% 1% 20%;
	padding: 5px 20px 5px 20px;
	/*border: 1px solid black;*/
}

#dataInput{
	text-align: center;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

#overlay {
	position: fixed;
  	top: 0;
  	left: 0;
  	height: 100%;
  	width: 100%;
  	z-index: -10;
  	/*background-color: rgba(0,0,0,0.5); changed in javascript */
} 

#confirmation {
	color:#3399cc;
	font-size:24px;
	width: 350px; 
	overflow: hidden;
    /*height: 95px; */
    line-height: 200px;
    position: fixed;
    top: 50%; 
    left: 50%;
    margin-top: -100px;
    margin-left: -150px;
    /*background-color: rgba(0,0,0,.5); */
    border-radius: 5px;
    text-align: center;
    line-height: 100%;
    z-index: -11; /* 1px higher than the overlay layer */
}
/*
input{
	border: 1px solid black;
	background-color: #ABE7F5;

	margin: auto;
}*/

#groupList{
	/*border:1px solid black;*/
	padding-left: 4px;
	padding-right: 20%;
	margin-right: auto;
	margin-left: auto;
	display: block;
}

#nameList li{
	text-align: left;
}

#plus{
	font-family: impact;
	text-decoration: none;
	font-size: 20px;

	background-color: #9BE466;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
	
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 3px;
	padding-top: 1px;

	margin-right: 5px;
	margin-left: -5px;
}

.delete-buttons{
	font-family: impact;
	text-decoration: none;
	color: #ffffff;
	background-color: #ff0000;
	border-radius: 7px;
	margin-left: 5px;
	padding-left: 4px;
	padding-right: 5px;
}

#button{
	width:125px;
	text-decoration:none;
	text-align: center;
	color:#000080;
  	cursor: pointer;
  	background:#F7E7CE;
  	margin-left: auto; 
  	margin-right: auto;
  	margin-top: 20px;
  	font-size: 14px;
  	box-shadow: 1px 1px 5px #B6B6B6;
	border-radius: 3px;
	display: block;
	border: none;
}

#arrows_sections{
	display: inline-block;
	margin-left: -30px;
}

#second_arrows{
	display: inline-block;
}

#third_arrows{
	display: inline-block;
}

.arrow{
	font-size: 75%;
	cursor: pointer;
}

.tab-box { 
	padding-bottom:5px;
	margin-left: 3px;
	margin-right: auto;

	margin-top: 10px;
}

.tab-box a {
  border:1px solid #DDD;
  color:#666666;
  padding: 5px 15px;
  text-decoration:none;
  border-radius: 3px;
  background-color: #eee;
}

.tab-box a.activeLink { 
  background-color: #fff; 
  border-bottom: 0; 
  padding: 6px 15px;
}

.tabcontent { }

.hide { display: none;}

.twitter-typeahead {
	display: inline !important;	
	background-color: #FFFFFF;
}

.tt-hint {
	display: none !important;
}

.tt-dropdown-menu {
	background-color: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 8px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	margin-top: 12px;
	padding: 8px 0;
	width: 422px;
}
.tt-suggestion {
	font-size: 24px;
	line-height: 24px;
	padding: 3px 20px;
}
.tt-suggestion.tt-is-under-cursor {
	background-color: #0097CF;
	color: #FFFFFF;
}
.tt-suggestion p {
	margin: 0;
}

