@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

*{
	font-size: 18px;
	font-family: Fascinate,sans-serif;
}

html, body {
	min-height: 100%;
	margin: 0;
}

body {
	background:#4EBBF5;
	max-width: 750px;
	margin-left:auto;
    margin-right:auto;
    text-shadow: horizontal-offset vertical-offset blur color;
    display: block;
}

h1{
	margin-top: 2%;/*change for overlay*/
	text-align: center;
	color:#fff;
}

input[type="submit"]:hover{
  background:#2288bb;
}

input[type="text"] {
	background:#fff;
	border:1px solid #ccc;
	color:#555;
}

form{
	
}

#instructions{
	text-align: left;
	margin: 1% 20% 1% 20%;
	padding: 5px 20px 5px 20px;
	border: 1px solid black;
}

#dataInput{
	margin: auto;
	text-align: center;
}

#overlay {
	position: fixed;
  	top: 0;
  	left: 0;
  	height: 100%;
  	width: 100%;
  	z-index: -10;
  	/*background-color: rgba(0,0,0,0.5); changed in javascript */
} 

#confirmation {
	color:#FF0000;
	font-size:24px;
	width: 300px;
    height: 200px;
    line-height: 200px;
    position: fixed;
    top: 50%; 
    left: 50%;
    margin-top: -100px;
    margin-left: -150px;
    /*background-color: #625D5D; */
    border-radius: 5px;
    text-align: center;
    z-index: 11; /* 1px higher than the overlay layer */
}
/*
input{
	border: 1px solid black;
	background-color: #ABE7F5;

	margin: auto;
}*/

#groupList{
	display: inline-block;
	border:1px solid black;
	padding-left: 4px;
	padding-right: 20%;

	position: relative;
	margin-right: 10%;
}

#nameList li{
	text-align: left;
}

#plus{
	font-family: impact;
	text-decoration: none;
	font-size: 20px;
}

#button{
	width:100px;
	text-decoration:none;
	text-align: center;
	color:#fff;
  	cursor:pointer;
  	background:#3399CC;
}

.ui-spinner-button {/*
	text-align: center;
	position: relative;*/
	cursor: default;

	margin-left: -20px;
	width: 30px;
	/*
	background-color: #e3e3e3;*/
	color: #6b6b6b;
}

.ui-icon{
	font-size: 10px;
	position: relative;
}

.ui-icon-triangle-1-n{
	position: relative;
	padding-top: -5000px;
}

.ui-icon-triangle-1-s{
	position: relative;
	padding-left: 12px;
	padding-top: 35px;
}



